<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid class="grid-cadastro">
  <ion-row> 
    <div class="form-group" style="margin-bottom: 10px;">
      <label for="formGroupExampleInput">Nome</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="José da Silvassauro">
    </div>
  </ion-row>

  <ion-row>
    <div class="form-group" style="margin-bottom: 10px;">
      <label for="formGroupExampleInput2">Email</label>
      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="zedasilva@yahoo.com">
    </div>
    </ion-row>
  <ion-row> 
    <div class="form-group" style="margin-bottom: 10px;">
      <label for="formGroupExampleInput2">Profissão</label>
      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Encanador elétrico">
    </div>
  </ion-row>
  <ion-row>
    <div class="form-group" style="margin-bottom: 10px;">
      <label for="formGroupExampleInput2">Idade</label>
      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="42">
    </div>
  </ion-row>

  <ion-row>
    <ion-button (click)="presentAlert()" class="enviar-cad" type="submit" [routerLink]="['/home']">Cadastrar</ion-button>
  </ion-row>

</ion-grid>
</ion-content>
