<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/servicos']" default-href="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Programador <ion-icon style="margin-top: 5px;" name="hammer-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>
<h5 style="font-family: Arial, Helvetica, sans-serif; text-align: center; "></h5>
  
  <ion-img src="https://i.ytimg.com/vi/jtzBhKkUKXs/maxresdefault.jpg"></ion-img>
  <h5 style="margin-left: 15px;">Salve, meu nome é Arnold Shuasnegar fiz técnico em desenvoldimento de sistemas em 1991, e desde de essa época gostei de fazer programa após me formar entrei pra faculdade de engenharia de pesca por causa dos meus pais, mas meu sonho de vdd era ser programador, então larguei a faculdade, sai da casa dos meus pais e comecei a trabalhar na area e assim inicie a faculdade de ciências da computação onde me formei em 2005, ja trabalhei em diversas empresas com grande nome como: google, disney, Ana Cabeleleiros,etc.</h5><ion-item-divider style="margin-top: -20px;"></ion-item-divider>
  <ion-item>


  <ion-label>Escreva o serviço desejado</ion-label>
  <ion-input placeholder="Digite aqui..."></ion-input>
</ion-item>


<ion-list>
  <ion-item>
    <ion-select placeholder="Selcione o tipo de serviço">
      <ion-select-option value="tempo">
      Reparar
      </ion-select-option>
      <ion-select-option value="dias">Montar</ion-select-option>
      <ion-select-option value="horas">instalar</ion-select-option>
      <ion-select-option value="horass">Outros serviços</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

<h5 style="margin-left:15px">Entre em contato e avalie meus projetos no github:Arnold_shuasnegar_CriaDeSP</h5><ion-item-divider style="margin-top: -20px;"></ion-item-divider>



</ion-content>
