/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.input{
    margin: 10px !important;
    border-radius: 50px;
    padding: 10px !important;
    width: 90% !important;
    display: inline-block;
    border-color: azure;
}

.toolbar-container {
    background-color:  #3880ff !important;
}
.form-group{
    width: 100%;
}
.grid-login{
    width: 100%;
    height: 20%;
    margin: 0 auto;
    position: absolute;
    padding: 30px;
    top: 130px;    
}
.linha{
    margin-top: 10px;
}
.linha ion-button{
    width: 100%;
}
.grid-cadastro{
    width: 100%;
    height: 80%;
    padding: 30px;
    position: absolute;
    top: 100px;
}
.enviar-cad{
    display: grid;
    justify-content: center;
    align-items: center;
}
.ios ion-title {
    // color: black;
    margin-top: 20px;
}

//  android é .md